{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8CTLHDZ4G7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8CTLHDZ4G7');
</script>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static 'frontend/dist/assets/blog-CliQJSRu.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
          <a href="/" class="logo-text">TechExe</a>
        </div>
    
        <!-- Mobile menu icon -->
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    
        <ul class="nav-links" id="nav-links">
            <li><a href="/AI/">Intelligent Systems</a></li>
            <li><a href="/Chemistry/">Science of Matter</a></li>
            <li><a href="/articles/">Latest Developments</a></li>
            <li><a href="/about-author/">Author Bio</a></li>
            <li><a href="/botany/">Botany</a></li>
        </ul>
    </nav>
    
    <!-- Image -->
    <div class="image-container">
        <img src="{% static 'frontend/dist/assets/TechExe-B3_dBQWa.jpg' %}" alt="TechExe Image">
    </div>
    <!-- Hero Section -->
    <section class="hero-services">
        <h1>Tech Knowledge</h1>
        <p>Empowering people to adopt latest solutions and state-of-the-art technology.</p>
    </section>

    <div class="blog-content">
        <p>{{ blog.content|safe }}</p>
    </div>
    
    <!-- Services Section -->
    <section class="services-container">
        <div class="service-box">
            <img src="{% static 'images/services/GPU_Dashboard.png' %}" alt="GPU_Dashboard Image">
            <h3>Grafana Dashboards for Efficient Monitoring</h3>
            <p>Dashboards designed for efficient real-time monitoring of interconnected systems </p>
            <a href="https://techexe.net/blog/GRAFANA/">Read More</a>
        </div>
        <div class="service-box">
            <img src="{% static 'images/services/firewall.jpg' %}" alt="firewall Image">
            <h3>VLAN & VDOM Firewall</h3>
            <p>Fortinet firewall VDOM and VLAN to split Physical domains</p>
            <a href="https://techexe.net/blog/Fortigate_VDOM/">Read More</a>
        </div>
        <div class="service-box">
            <h3>eCommerce Solutions</h3>
            <p>Enhance your business with AI-driven customer insights and personalized recommendations.</p>
        </div>
        <div class="service-box">
            <h3>Website Development</h3>
            <p>Crafting dynamic, lightning-fast web applications with Django's robust backend and Vite's modern blazing-speed frontend.</p>
        </div>
        <div class="service-box">
            <img src="{% static 'images/services/deep.png' %}" alt="heathtech Image">
            <h3>HealthTech Innovation</h3>
            <p>Revolutionize healthcare with AI diagnostics and predictive analytics.</p>
        </div>
        <div class="service-box">
            <h3>FinTech AI</h3>
            <p>Harness the power of AI to optimize financial operations and decision-making processes.</p>
        </div>
        <div class="service-box">
            <img src="{% static 'images/services/Zamioculcas zamiifolia.jpeg' %}" alt="A-A_ZImage">
            <h3>Botany of Zamioculcas zamiifolia</h3>
            <p>Dive deeper to explore how this resilient plant is beneficial in home remedies.</p>
            <a href="https://techexe.net/blog/A-A-ZZplant/">Read More</a>
        </div>
        <div class="service-box">
            <img src="{% static 'images/services/Homalomena.jpg' %}" alt="A-A_HImage">
            <h3>Botany of Homalomena wallisii</h3>
            <p>Dive deeper to explore how this plant' Botany.</p>
            <a href="https://techexe.net/blog/A-A_Homalomena/">Read More</a>
        </div>
        <div class="service-box">
            <img src="{% static 'images/services/Philodendron.jpg' %}" alt="A-A_PImage">
            <h3>Botany of philodendron/</h3>
            <p>Dive deeper to explore this indoor plant's Botany.</p>
            <a href="https://techexe.net/blog/A-A-philodendron/">Read More</a>
        </div>
        
    </section>
</body>
</html>
