{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Course List</title>
    <!-- blog-specific CSS -->
    <link rel="stylesheet" href="{% static 'frontend/dist/assets/blog-4i0EchJ-.css' %}">
</head>
<body>
    <h1>Course List</h1>
    <ul>
        {% for course in object_list %}
        <li>
            <a href="{% url 'course-detail' course.pk %}">{{ course.title }}</a> - {{ course.date_created }}
        </li>
        {% endfor %}
    </ul>
    <div>
        {% if is_paginated %}
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            <div>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</body>
</html>
