{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}TechExe: Transforming AI and Web Development{% endblock %}</title>
  
      <!-- Font for the entire page -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

      <!-- Home-specific CSS -->
      <link rel="stylesheet" href="{% static 'frontend/dist/assets/home-Cdd-ClXL.css' %}">
  </head>
  <div class="section-intro">
  <body style="font-family: 'Poppins', sans-serif;">
    {% block content %}
          <h1 style="text-align: center; font-size: 36px; font-weight: bold;">Empowering Industries with Next-Gen AI Solutions</h1>
          <p style="text-align: match-parent; font-size: 16px;">Discover how our cutting-edge AI and web development solutions are transforming industries—from eCommerce and HealthTech to FinTech and more—with secure Docker portals for GPU access, interactive dashboards, and AI-powered tutoring tools.</p>
  </div>    

        <section id="about">
            <h2>Since 2020, we've been delivering top-tier solutions in the tech industry.</h2>
            <p style="text-align: justify";>From crafting Django web apps to developing innovative AI applications, we have established ourselves as industry leaders. Our focus on integrating technologies like Vite for front-end efficiency and Docker for app deployment has positioned us at the forefront of web development and AI projects.</p>
        <div style="text-align: center;">
            <button class="cta-button" onclick="window.location.href='/services/'">Get Started</button>
        </div>
        </section>
    
        <section id="skills-services">
            <h2 style="text-align: left; font-size: 16px; font-weight: bold;">Skills We Bring to the Table</h2>
        <ul>
         <li>Python: For building scalable applications.</li>
         <li>Django: Our go-to framework for robust and efficient web development.</li>
         <li>Grafana: To visualize and monitor your project’s data efficiently</li>
         <li>Docker: For seamless containerization of applications</li> 
         <li>Kubernetes: For orchestrating containerized applications at scale</li>
         <li>Vite: To ensure fast and optimized front-end development.</li>
        </ul>
    
            <h2 style="text-align: left; font-size: 16px; font-weight: bold;">Services We Offer</h2>
        <ul>
         <li>Website Development</li>
         <li>AI-Based Application Development</li>
         <li>Dashboard Creation</li>
        </ul>
        </section>
          
        <footer>
            <h2>Get In Touch: Let's Build Something Great Together</h2>
            <p>Contact Us: +34 663 45 53 54</p>
        </footer>
      </div>
    {% endblock %}
  </body>
</html>
