{% extends "home.html" %}

{% block title %}Services - TechExe{% endblock %}

{% block content %}
<nav class="navbar">
    <div class="logo">
      <a href="/" class="logo-text">TechExe</a>
    </div>

    <!-- Mobile menu icon -->
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <ul class="nav-links" id="nav-links">
        <li><a href="https://techexe.net/blog/" target="_blank">Technology</a></li>
        <li><a href="/docker-login/">Login System for Docker Containers</a></li>
        <li><a href="/ai-tutor/">AI Tutor App</a></li>
        <li><a href="/about/">About Us</a></li>
    </ul>
</nav>

<section class="hero-services">
    <h1>Our Expert Services</h1>
    <p>Empowering industries with AI-driven solutions and state-of-the-art technology.</p>
     
</section>

  <div class="services">
    <div class="service-box">
      <h3>GRAFANA Dashboards</h3>
      <p>Empower your data with Grafana's dynamic dashboards, transforming complex metrics into actionable insights.</p>
    </div>
    <div class="service-box">
      <h3>eCommerce Solutions</h3>
      <p>Enhance your business with AI-driven customer insights and personalized recommendations.</p>
    </div>
    <div class="service-box">
      <h3>Website Development</h3>
      <p>Crafting dynamic, lightning-fast web applications with Django's robust backend and Vite's modern blazing-speed frontend.
    </div>
    <div class="service-box">
      <h3>HealthTech Innovation</h3>
      <p>Revolutionize healthcare with AI diagnostics and predictive analytics.</p>
    </div>
    <div class="service-box">
      <h3>FinTech AI</h3>
      <p>Harness the power of AI to optimize financial operations and decision-making processes.</p>
    </div>
  </div>

<section class="cta-section">
    <h2>Ready to Transform Your Business with AI?</h2>
    <a href="/portfolio/" class="cta-button">View Our Portfolio</a>
</section>

<!-- JavaScript for the menu toggle functionality -->
<script>
    const mobileMenu = document.getElementById('mobile-menu');
    const navLinks = document.getElementById('nav-links');

    mobileMenu.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });
</script>
{% endblock %}
