{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ICCBS Login Portal{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'frontend/dist/assets/iccbs-CDR8rDBf.css' %}">
</head>
<body>

    <header>
        <h1>Welcome ICCBS Login Portal</h1>
        <nav>
            <ul>
                <li><a href="{% url 'iccbs:iccbs_login' %}">Login</a></li>
                <li><a href="{% url 'iccbs:iccbs_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="portal-hero-wrapper">
        <img src="{% static 'images/services/LEJ.jpeg' %}" alt="ICCBS Portal Backdrop" class="portal-hero-bg">
        
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; 2026 ICCBS</p>
    </footer>

</body>
</html>