{% load static %} 
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'frontend/dist/assets/iccbs--LG0kBY6.css' %}">
        <p class="lead">
            This is <b>user registration and login system</b> built with Django, 
            a Python-based free and open-source web framework that follows the model–template–views architectural pattern.
            <a href="{% url 'iccbs:public_profile' username=user.username %}">View Public Profile</a>
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'iccbs:iccbs_base' %}" role="button">Logout</a>
        </p>
    </div>
{% endblock content %}
