{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'frontend/dist/assets/iccbs--LG0kBY6.css' %}">
</head>
<body class="login-page">
    <div class="login-container">
        <img src="{% static 'images/services/ICCBS.jpeg' %}" alt="User Icon">
        <h2>ICCBS Login</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username..." required>
            <input type="password" name="password" placeholder="Password..." required>
            <button type="submit">Sign in</button>
        </form>
        <a href="#">Forgot your password?</a>
    </div>
</body>
</html>
