{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-center" >
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/ICCBS_new.jpg' %}" alt="..." />
        <!-- Masthead Heading-->
        <div class="p-3 mb-2 bg-gradient-danger text-white"><h1 class="masthead-heading text-uppercase mb-0">WELLCOME TO AI DATACENTER</h1></div>
        </div>
</header>
<body style="background-color:#050a30;">
</body>
<h1>
    <div style="text-align: center; color:#7ec8e3">ESTABLISHMENT OF A CENTER FOR ARTIFICIAL INTELLIGENCE IN HEALTH SCIENCES
</h1>

<div style="text-align: center; color:rgb(146, 52, 155)"><div class="shadow-lg p-3 mb-3 bg-white rounded">Opportunities for Scientific and Technological endeavours to accelerate Artificial intelligence utilizing AIC DeepOps methods.</div>
</div>

<title>Welcome to AI LABS</title>


<div style="text-align: center;"><a href="https://www.youtube.com/watch?v=Ejq2KDnxbvo"><h4>
    Vision & Mission!
  </h4></a></div>
<meta charset="UTF-8">
</head>


{% endblock %}