
Django
gunicorn
psycopg2-binary
django-environ
pyinstaller
django-admin-interface
django-allauth
pytest
pytest-django
django-taggit
django-debug-toolbar
whitenoise
django-storages
djangorestframework
django-webpack-loader
celery
redis
requests
loguru