{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us - AAPlants</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'frontend/dist/assets/AAPlants-DdqWQrM1.css' %}">
</head>
<body>
    <header>
        <h1>About AAPlants</h1>
    </header>
    <section>
        <p>At A&A Plants, we are passionate about bringing nature closer to your life.</p>
        <p>Our mission is to provide high-quality plants with expert care advice.</p>
    </section>
</body>
</html>
