{% load static %}

<nav>
    <div class="navbar">
        <ul id="menu">
            <li><a href="{% url 'AAPlants:aaplantscategory' %}">Category</a></li>
            <li><a href="{% url 'AAPlants:aaplantsabout' %}">About</a></li>
            <li><a href="{% url 'AAPlants:aaplantscontact' %}">Contact Us</a></li>
        </ul>
        <button class="navbar-toggle" id="navbarToggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</nav>
