/* portfolio/static/css/styles.css */

.project-detail {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.project-detail .row {
    display: flex;
    flex-wrap: wrap;
}

.project-detail .col-md-8, .project-detail .col-md-4 {
    padding: 10px;
}

.project-detail img {
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-detail h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

.project-detail p {
    font-size: 1em;
    color: #666;
}
