{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Project List{% endblock %}</title>
    {% load static %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>
<body>
    <h1>Project List</h1>
    <ul>
        {% for project in projects %}
            <li>
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <p>Technologies: {{ project.technologies }}</p>
                {% if project.demo_link %}
                    <p><a href="{{ project.demo_link }}" target="_blank">Demo Link</a></p>
                {% endif %}
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" style="width:200px;">
                {% endif %}
            </li>
        {% empty %}
            <p>No projects available.</p>
        {% endfor %}
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>
