/* TechExe/staticfiles/css/styles.css */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #da0d0d;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

li {
    background: #fff;
    margin: 100px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    background: #f0f0f0;
}