{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants in Pakistan</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'frontend/dist/assets/a_a_plants-DeLjBJkd.css' %}">
</head>
<body>
    <h1>List of Plants avialable at A&A Plants with Botanical Names</h1>
    <table border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Common Name</th>
                <th>Botanical Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Chilghoza Pine</td>
                <td>Pinus gerardiana</td>
                <td><img src="{% static 'images/services/Pinus_gerardiana_female_cone.jpg' %}" alt="Chilghoza Pine Image" width="100"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Spruce (Kachal)</td>
                <td>Picea smithiana</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Poplar (Putch)</td>
                <td>Populus ciliata</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Monotheca (Gurgura)</td>
                <td>Monotheca buxifolia</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Viburnum (Guch)</td>
                <td>Vibernum nervosum</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Barberries (Sumbal)</td>
                <td>Berberis lycium</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Pistacia (Khunjak/Phulai)</td>
                <td>Pistacia mutica</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Acacia (Palosa)</td>
                <td>Acacia modesta</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Sanatha (Zarawanai)</td>
                <td>Dodenea viscose</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Bhaiker (Arosa)</td>
                <td>Adhatoda vasica</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Ber (Karkana)</td>
                <td>Ziziphus mauritiana</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Babool (Kikar)</td>
                <td>Acacia nilotica</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Olea (Zaitoon)</td>
                <td>Olea ferruginea</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Frash (Gaz)</td>
                <td>Tamarix aphylla</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Prosopis (Jund)</td>
                <td>Prosopis spicigera</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Sanobar Juniper</td>
                <td>Juniperus excelsa</td>
                <td><img src="{% static 'images/services/sanober.jpeg' %}" alt="sanober Image" width="100"></td>
            </tr>
            <tr>
                <td>17</td>
                <td>Tammariy Diocca</td>
                <td>Tamarix dioica</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Kandi</td>
                <td>Prosopis spicigera</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Khabar</td>
                <td>Salvadora oleoides</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Liar Dia Rothii</td>
                <td>Crotalaria burlia</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Thohar</td>
                <td>Euphorbia caudicifolia</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Gangi</td>
                <td>Grewia populifolia</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Khoombhat</td>
                <td>Acacia senegal</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Dharm Khatri</td>
                <td>Aristida scopria</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Mert</td>
                <td>Panicum turgidum</td>
            </tr>
            <!-- Additional rows can be added as needed -->
        </tbody>
    </table>
</body>
</html>
